---
layout: default
pagename: downloads
---
{% assign stable = false %}
{% assign pre = false %}
{% for release in site.github.releases %}

    {% if release.prerelease == false and stable != false %}
        {% assign stable = release %}

    {% elsif release.prerelease == true and pre != false %}
        {% assign pre = release %}

    {% endif %}
{% endfor %}

<article id="stable" class="release">
    <header>Stable</header>

{% if stable != false %}
    <div>
        JSONForMirc {{stable.tag_name}}
    </div>

{% else %}
    <div class="italic">
        Not at this time
    </div>
{% endif %}
</article>

<article id="prerelease" class="release">
    <header>Pre-Release</header>

{% if pre != false %}
    <div>
        JSONForMirc {{pre.tag_name}}
    </div>

{% else %}
    <div class="italic">
        Not at this time
    </div>
{% endif %}
</article>
