@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lora:700');
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Open Sans', 'sans-serif';
    color: white;
    min-width: 950px;
    min-height: 850px;
    height: 100%;
}
a, a:hover, a:visited {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    text-shadow: inherit;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper > .wraphelper {
    flex-grow: 1;
    display: flex;
}

.smaller {
    font-size: .9em;
}
.indent {
    margin-left: 1em;
}
.indentpad {
    padding-left: 1em;
}


.menu {
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
    
    padding: 50px;
    
    background-color: rgb(209, 156, 63);
    box-shadow: inset 0px 0px 3em rgba(0,0,0, .75), 0px 0px 20px 1px rgba(0,0,0, .75);


    text-shadow: 1px 1px rgba(0,0,0, .75);
}

.logo {
    margin-bottom: 1em;
}
.logo img {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px rgba(0,0,0, .9);
    border-radius: 5px;
    vertical-align: middle;
    padding: 7px;
    background-color: white;
    border: 1px solid rgba(0,0,0, .5);
}
.logo img:hover {
    box-shadow: inset 0px 0px 10px 1px rgba(64, 64, 255, .9);
    border-color: rgba(64,64,255);
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 20px;
}
.menu > ul > li {
    border-bottom: 2px dashed rgba(0,0,0,.25);
    margin-bottom: 10px;
}
.menu ul ul {
    font-size: 16px;
    margin-left: 20px;
}

.menu li.active > a {
    color: red;
    cursor: default;
    text-shadow: none;   
}
.menu li:not(.active) > a:hover {
    color: orangered;
}





.content {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgb(55, 57, 71);
    padding: 50px;
}
.content h1, .content h2, .content h3 {
    font-family: Lora, Ariel, serif;
    text-shadow: 1px 1px black;
    margin: 0px;
    padding: 0px;
}
.content h1 {
    border-bottom: 2px solid rgba(255, 255, 255, .15);
}
.content a, .content a:visited {
    color: #80AEBD;
}
.content a:hover {
    color: #bdae80;
}
.content p {
    font-size: .9em;
    text-shadow: 1px 1px black;
    padding: 0px;
    margin: 0px 0px 1em 1em;
}
.content .nospace p {
    margin-bottom: .25em;
}

.content > div {
    margin: 0 auto;
    max-width: 800px;
    display: none;
}

.content > div.active {
    display: block;
}

.content .section {
    margin-bottom: 2em;
}
.content .section:not(.sub) {
    margin-bottom: 3em;
}
.content .sub {
    font-size: .9em;
}

.content .code {
    font-family: monospace;
    background-color: rgba(255,255,255,.1);
    padding: 2px 4px;
    border-radius: 2px;
    text-shadow: none;
    font-weight: normal;
    font-size: 16px;
}
div.code {
    padding: 1em !important;
}

.content div.code span.comment {
    color: rgb(128,255,128);
}





.foot {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    
    background-color: rgba(0,0,0, .5);
    padding: .5em 1em;
    border-top: 1px solid rgba(0,0,0, .25);
    z-index: 2;
}

