<div class="wrapper">
    <div class="navthumb">
        <div>
            <a id="mainnavthumb" href="#"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="main">
        <div>
            <div class="head">JSONForMirc</div>
            <div class="links">
                <div><a href="https://github.com/SReject/JSON-For-Mirc" target="_blank"><i class="fa fa-github"></i> Source</a></div>
                <div><a href="https://github.com/SReject/JSON-For-Mirc/issues" target="_blank"><i class="fa fa-bug"></i> Issues</a></div>
                <div><a href="https://streamjar.tv/tip/SReject" target="_blank"><i class="fa fa-paypal"></i> Donate</a></div>
            </div>
        </div>
    </div>
</div>
