<!DOCTYPE html>
<html lang="en">
<head>
    {% include dochead.html %}
</head>
<body>
    <div>
        <div class="pagehead">
            {% include pagehead.html %}
        </div>
        <div class="pagewrapper">
            <div class="pagenav">
                {% include pagenav.html %}
            </div>
            <div class="pagecontent">
                {{content}}
            </div>
        </div>
        <div class="pagefoot">
            {% include pagefoot.html %}
        </div>
    </div>
</body>
</html>
