html, body, h1, h2, h3, h4, h5, p {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    min-width: 1100px;
}
h1,h2,h3,h4,h5 {
    font-family: Lora, Ariel, serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
.wrapper {
    position: relative;
}
.flex {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.flex > div > div {
    padding-bottom: 150px;
}
.wrapmenu {
    width: 250px;
    background-color: #D19C3F;
    border-right: 1px solid #c47d02;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, .75);
}
.wrapcontent {
    flex: 1;
    background-color: #373947;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, .75);
}
.wrapfoot {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .25);
}





.menu {
    padding: 20px;
}

.content {
    padding: 50px;
}
.content h1 {
    border-bottom: 1px solid rgba(128,128,128, .5);
    font-size: 2.5em;
    margin-bottom: 10px;
}
.content h2 {
    font-size: 2.1em;
}
.content h3 {
    font-size: 1.7em;
}
.content p {
    margin-bottom: 20px;
}
.content .sub {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.content .code {
    font-family: monospace;
    background-color: rgba(255,255,255,.1);
    padding: 2px 4px;
    border-radius: 2px;
    text-shadow: none;
    font-weight: normal;
}
.content pre.code {
    margin-top: 5px;
}
span.comment {
    font-style: italic;
    font-size: 0.95em;
    color: rgba(128,255,128,.95);
    
}
.content .code.em {
    font-weight: bold;
    font-size: 1.1em;
}

.foot {
    margin-left: 251px;
    padding: 20px;
}